:root, :root > * {
    margin: 0;
    padding: 0;
    font-size: max(.5vw, 16px);
}
#dashboard {
    padding: 1rem;
    padding-left: 220px;
    background-color: lightgray;

    span {
	 white-space: nowrap;
	 &:not(:last-of-type) {
	 padding-right: .5rem;
	 margin-right: .5rem;
	 border-right: 2px solid darkgray;
	 }
    }
    select + span {
	padding-left: .5rem;
	margin-left: .5rem;
	border-left: 2px solid darkgray;
    }
    input[type=submit] {
	 padding: .5rem;
	 background-color: forestgreen;
	 color: white;
	 border: 0;
	 margin-top: 1rem;
    }
    fieldset.fps {
	 float: right;
	 #fps {
	     width: 4rem;
	     background-color: #333;
	     color: #df6;		     
	     text-align: right;
	 }
	 label[for=fps_on] {
	     display: none;
	 }
    }
}

#container {
    position: relative;
    overflow: hidden;
    padding-bottom: 20vh;

    div, span {
	 display: inline-block;
	 width: 2vw;
	 height: 2vw;
	 background-color: rgba(155,155,155,1);
	 border-radius: 50%;
	 animation-timing-function: linear;
    }
    svg {
	 overflow: visible;
	 g, circle {
	     r: 1vw;
	     fill: rgba(155,155,155,1);
	     animation-timing-function: linear;
	 }
    }
    canvas {
	 display: block;
    }
}
.hidden {
    opacity: 0;
    transition: opacity .25s;
}
